.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: auto;
  gap: 20px;
}